aiohttp
cloudscraper
hachoir
numpy
Pillow
requests
GitPython
tgcrypto-pyrofork
olefile
motor
pytz
utils
pymongo
pyrofork
dnspython
psutil
loggers
filetype
tldextract
ffmpeg-python
ffmpeg
aiofiles
pyromod
yt-dlp[default,curl-cffi]
lk21
pytube
fastapi
uvicorn[standard]

